* {
    color: #334155;
}

input:focus {
    outline: 1px solid #000 !important;
}

.dashboard {
    background-color: #F8FAFC;
    padding: 2px;
    display: flex;
    align-items: flex-start;
    min-width: 100%;
    height: 100vh;
    position:relative;
    scrollbar-width: thin;
    scrollbar-color: #E2E8F0 #F8FAFC;
}

.dashboard::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

.dashboard-container {
    margin: 15px 15px 15px 280px;
    background-color: #fff;
    width: 80%;
    position: relative;
}

.dashboard-container-full {
    width: 100%;
    margin: 15px 15px 15px 70px;
    background-color: #fff;
}

 .category {
    border-radius: 6px;
    border: 1px solid #E2E8F0;
    background-color: #fff;
    padding: 10px;
    font-size: 0.8rem;
    width: 100%;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 10px;
}

.category.active {
    border: 1px solid #64748B;
}

.category .number {
    color: #64748B;
    font-size: 0.75rem;
    margin-left: 8px;
    font-weight: 500;
}

.filter {
    background-color: #F1F5F9
}

.filter:hover {
    cursor: pointer;
    background-color: #E1E5E9;
}

.searchIcon {
    position: relative;
    top: 9px;
    left: 8%;
    font-size: 0.95rem;
}

table {
    border: 1px solid #EBEEF0;
  border-collapse: collapse;
}

.table-container {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #E2E8F0 #F8FAFC;
    height: 63vh;
    margin: 30px 0 10px 0;
    width: 100%;
    position: relative;
}

/* 
.table-container::-webkit-scrollbar-track {
    background: #F8FAFC;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .table-container {
    scrollbar-width: thin;
    scrollbar-color: #E2E8F0 #f1f1f1;
  }

.table-container::-webkit-scrollbar-track {
    background-color: #F8FAFC; 
    margin-top: 15px; 

  }
  
  
  .table-container::-webkit-scrollbar-thumb {
    background-color: #E2E8F0;
    margin-top: 15px;
  } */

  table {
    border: 1px solid #E2E8F0
  }

table thead {
    background: #F8FAFC;
    text-align: left;
    border-bottom: 1px solid #EBEEF0;
}

table thead div p{
    margin-left: 6px;
}

table input {
    margin-right: 8px;
}

table th {
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: 500;
}

tbody td {
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 500;
}

th .icon {
    stroke: #64748B;
font-size: 0.9rem;
}

table th p {
    color: #64748B;
    font-weight: 500;
}

.status .flex {
    justify-content: center;
}

.status .dot {
    width: 10;
    height: 8px;
    border-radius: 50%;
    padding: 3px 4px;
    margin-right: 5px;;
}

.status div {
    padding: 5px 8px;
    border-radius: 30px;
}

.status .blue {
    background-color: #EFF6FF;
}

.status .blue p{
    color: #3B82F6;
}

table .blue.dot {
    background-color: #3B82F6;
}


.status .green {
    background-color: #F0FDF9;
}

.status .green p{
    color: #15803D;
}

table .green.dot {
    background-color: #15803D;
}


.status .black {
    background-color: #F1F5F9;
}

.status .black p{
    color: #334155;
}

table .black.dot {
    background-color: #334155;
}


table .date:first-child p {
    margin-left: 10px
}

.pagination-container div:last-child p{
/* margin-right: 15px; */
font-size: 0.9rem;
font-weight: 500;
padding: 5px 12px;
border-radius: 5px;
}

.pagination-container div:last-child p.active {
    border: 1px solid #E2E8F0;
}

.pagination-container .pagination .btn:hover,
.pagination-container .pagination p:hover {
    cursor: pointer
}

.table-container .edit-container {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 10px 8px 0px rgba(100, 116, 139, 0.04),
              0px 4px 4px 0px rgba(100, 116, 139, 0.1);
position:fixed;
right: 20px;
background-color: #fff;
width: 320px;
display: none;
}

.edit-container ul {
    overflow-y: auto;
    height: 300px;
    margin-bottom: 15px;
    margin-top: 15px
}

.edit-container li {
    display: flex;
    align-items: center;
    width: 92%;
}

.edit-container li:hover {
    cursor: pointer;
}

.edit-container li p{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #E2E8F0;
    width: 92%;
    font-weight: 500;
    font-size: 0.87rem;
}

.edit-container button {
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
    margin: 5px;
    font-size: 0.9rem
}

.checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #E5E7EB;
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 
  0px 1px 3px 0px #1018281A,
  0px 1px 2px -1px #0000001A;
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox .icon {
    fill: #fff;
}

.checkbox.checked {
    background-color: #000;
}

.table-container .filter-container {
    width: 600px;
    position: fixed;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 25px 25px 0px #64748B26;
    height: 400px;
    display: none;
}

.filter-container .inner-container {
    height: 100%;
}

.filter-container .sections {
    padding: 15px;
}

.filter-container .left-section {
    width: 45%;
    border-right: 1px solid #E2E8F0;
    background: #F8FAFC;
}

.filter-container .right-section {
    width: 60%;
}

.filter-container .left-section li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    font-size: 0.87rem;
    font-weight: 500;
}

.left-section li p {
    margin-left: 5px
}

.filter-container .left-section li:hover {
    cursor: pointer;
    background: #E2E8F0; 
}

.filter-container .left-section li.active {
    background: #E2E8F0; 
}

.filter-container .right-section .label{
font-size: 0.8rem;
font-weight: 500;
margin-bottom: 8px;
}

.filter-container .right-section select {
    width: 100%;
    border: 1px solid #E4E4E7;
     box-shadow: 0px 1px 2px 0px #1018280D;
}

.table-container .filter-container .btn-container {
    border-top: 1px solid #E2E8F0;
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}

.table-container .filter-container .btn-container button {
    padding: 6px 15px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-weight: 500;
    font-size: 0.87rem;
    border-radius: 6px;
    margin-left: 10px;
}

.dropdown-container button {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #E4E4E7;
    width: 100%;
    text-align: left;
    font-size: 0.87rem;
    font-weight: 400;
    z-index: 15;
    box-sizing: border-box; 
    margin: 2px;
}


.dropdown-container .active {
    outline: 2px solid #64748B;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.dropdown-container ul {
    border-radius: 6px;
    border: 1px solid #E4E4E7;
    box-shadow: 0px 1px 3px 0px #1018281A , 0px 1px 2px -1px #0000001A;
    overflow-y: auto;
    height: 250px;
    position: absolute;
    top: 45px;
    background-color: #fff;
    width: 100%;
    z-index: 10;
}

.dropdown-container li {
    padding: 7px;
    font-size: 0.9rem;
}

.dropdown-container li:hover {
    cursor: pointer;
}

.right-section .input-container {
    position: relative;
    width: 100%;
}

.input-container .searchIcon {
    position: absolute;
    left: 8px;
    stroke: #A1A1AA;
}
.right-section .input-container input {
    width: 100%;
    padding: 6px 12px 6px 28px;
    border-radius: 6px;
    border: 1px solid #E2E8F0;
    background: #F9FAFB;
font-size: 0.9rem;
font-weight: 400;
}

.right-section .services .radio-btn {
    width: 20px;
    height: 20px;
    border: 1px solid #E2E8F0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .services .radio-btn-selected {
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.right-section .services .radio:hover {
    cursor: pointer;
}

.right-section .services p{
margin-left: 10px;
font-size: 0.87rem;
font-weight: 400;
color: #000;
}


.edit-container.active,
.filter-container.active {
    display: block;
}

.date-from {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .custom-date-input {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .calendar-icon {
    position: absolute;
    left: 10px;
    pointer-events: none;
  }

  input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-right: 10px;
    position: relative;
    background: transparent;
    color: #000; 
    font-size: 0.87rem;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    left: 10px;
    border: 1px solid #000;
    cursor: pointer;
    opacity: 0;
  }
  
  .date-placeholder {
    position: absolute;
    left: 40px;
    pointer-events: none;
    color: #71717A;
    font-size: 0.87rem
  }

 .date-selected + .date-placeholder {
    display: none;
  }
  
  .custom-date-input input[type="date"]:focus + .date-placeholder {
    display: none; 
  } 
   
.hidden {
    display: none
}

.icon-btn {
    padding: 5px;
    border-radius: 4px;
}

.icon-btn:hover {
    cursor: pointer;
    background: #F1F5F9;
}

@media screen and (max-width: 675px) {

.dashboard-container {
    width: 100%;
    margin-left: 70px;
}

}

@media screen and (max-width: 550px) {
 .dashboard-container .category-container {
        flex-direction: column;
    }

    .dashboard-container .filter-search {
        flex-direction: column;
        align-items: flex-start;
    }
    .dashboard-container .filter-search .filter {
        margin-bottom: 15px;
        margin-left: 12px;
    }
    .pagination-container {
        flex-direction: column;
    }

    .pagination-container .pagination {
        margin-top: 25px;
    } 
}

@media screen and (max-width: 415px) {
    .dashboard-container .filter-search .search-container{
        width: 70% !important;
    }
}
